locales/locales.ts
**/__tests__/**
**/__mocks__/**
.eslintrc.cjs
definitions/*
src/vite-env.d.ts
Dangerfile.ts
**/generated/**
dist/**
build/**
src/lib/utils/fixSwagger20ArraySchemaDef.js
vite.config.ts